<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="UserName">
	{$UserName_editcontrol}
	</control>
	<control 
	field="Password">
	{$Password_editcontrol}
	</control>
	<control 
	field="Email">
	{$Email_editcontrol}
	</control>
	<control 
	field="GroupName">
	{$GroupName_editcontrol}
	</control>
	<control 
	field="Active">
	{$Active_editcontrol}
	</control>
	<control 
	field="Logo">
	{$Logo_editcontrol}
	</control>
	<control 
	field="FullName">
	{$FullName_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
