<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel Allocation_Dashboard search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_View_RSAName}">
	{BEGIN View_RSAName_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_RSAName}
	</td>
	<td>
		<input type="checkbox" {$View_RSAName_notbox}>
	</td>
	<td>
		{$searchtype_View_RSAName}
	</td>
	<td>
		{$View_RSAName_editcontrol}&nbsp;
	</td>
	<td>
		{$View_RSAName_editcontrol1}&nbsp;
	</td>
{END View_RSAName_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_Location}">
	{BEGIN View_Location_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_Location}
	</td>
	<td>
		<input type="checkbox" {$View_Location_notbox}>
	</td>
	<td>
		{$searchtype_View_Location}
	</td>
	<td>
		{$View_Location_editcontrol}&nbsp;
	</td>
	<td>
		{$View_Location_editcontrol1}&nbsp;
	</td>
{END View_Location_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_Supervisor}">
	{BEGIN View_Supervisor_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_Supervisor}
	</td>
	<td>
		<input type="checkbox" {$View_Supervisor_notbox}>
	</td>
	<td>
		{$searchtype_View_Supervisor}
	</td>
	<td>
		{$View_Supervisor_editcontrol}&nbsp;
	</td>
	<td>
		{$View_Supervisor_editcontrol1}&nbsp;
	</td>
{END View_Supervisor_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_Alloc}">
	{BEGIN View_Alloc_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_Alloc}
	</td>
	<td>
		<input type="checkbox" {$View_Alloc_notbox}>
	</td>
	<td>
		{$searchtype_View_Alloc}
	</td>
	<td>
		{$View_Alloc_editcontrol}&nbsp;
	</td>
	<td>
		{$View_Alloc_editcontrol1}&nbsp;
	</td>
{END View_Alloc_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_Alloc1}">
	{BEGIN View_Alloc1_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_Alloc1}
	</td>
	<td>
		<input type="checkbox" {$View_Alloc1_notbox}>
	</td>
	<td>
		{$searchtype_View_Alloc1}
	</td>
	<td>
		{$View_Alloc1_editcontrol}&nbsp;
	</td>
	<td>
		{$View_Alloc1_editcontrol1}&nbsp;
	</td>
{END View_Alloc1_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_Alloc2}">
	{BEGIN View_Alloc2_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_Alloc2}
	</td>
	<td>
		<input type="checkbox" {$View_Alloc2_notbox}>
	</td>
	<td>
		{$searchtype_View_Alloc2}
	</td>
	<td>
		{$View_Alloc2_editcontrol}&nbsp;
	</td>
	<td>
		{$View_Alloc2_editcontrol1}&nbsp;
	</td>
{END View_Alloc2_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_Alloc3}">
	{BEGIN View_Alloc3_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_Alloc3}
	</td>
	<td>
		<input type="checkbox" {$View_Alloc3_notbox}>
	</td>
	<td>
		{$searchtype_View_Alloc3}
	</td>
	<td>
		{$View_Alloc3_editcontrol}&nbsp;
	</td>
	<td>
		{$View_Alloc3_editcontrol1}&nbsp;
	</td>
{END View_Alloc3_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_Start1}">
	{BEGIN View_Start1_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_Start1}
	</td>
	<td>
		<input type="checkbox" {$View_Start1_notbox}>
	</td>
	<td>
		{$searchtype_View_Start1}
	</td>
	<td>
		{$View_Start1_editcontrol}&nbsp;
	</td>
	<td>
		{$View_Start1_editcontrol1}&nbsp;
	</td>
{END View_Start1_fieldblock}
	</tr>
	<tr class="{$fielddispclass_View_End1}">
	{BEGIN View_End1_fieldblock}		
	<td>
		{$label Allocation_Dashboard View_End1}
	</td>
	<td>
		<input type="checkbox" {$View_End1_notbox}>
	</td>
	<td>
		{$searchtype_View_End1}
	</td>
	<td>
		{$View_End1_editcontrol}&nbsp;
	</td>
	<td>
		{$View_End1_editcontrol1}&nbsp;
	</td>
{END View_End1_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to Dashboard</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
