<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel calandar edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN Jul_2_WK_27_fieldblock}
<tr class="{$fielddispclass_Jul_2_WK_27}" data-fieldname="Jul_2_WK_27">
	<td class="rnr-label">
		{BEGIN Jul_2_WK_27_label}{$label calandar Jul_2_WK_27}{END Jul_2_WK_27_label}
	</td>
	<td class="rnr-control style3">
		{$Jul_2_WK_27_editcontrol}&nbsp;
	</td>
</tr>
{END Jul_2_WK_27_fieldblock}
	{BEGIN Jul_9_WK_28_fieldblock}
<tr class="{$fielddispclass_Jul_9_WK_28}" data-fieldname="Jul_9_WK_28">
	<td class="rnr-label">
		{BEGIN Jul_9_WK_28_label}{$label calandar Jul_9_WK_28}{END Jul_9_WK_28_label}
	</td>
	<td class="rnr-control style3">
		{$Jul_9_WK_28_editcontrol}&nbsp;
	</td>
</tr>
{END Jul_9_WK_28_fieldblock}
	{BEGIN Jul_16_WK_29_fieldblock}
<tr class="{$fielddispclass_Jul_16_WK_29}" data-fieldname="Jul_16_WK_29">
	<td class="rnr-label">
		{BEGIN Jul_16_WK_29_label}{$label calandar Jul_16_WK_29}{END Jul_16_WK_29_label}
	</td>
	<td class="rnr-control style3">
		{$Jul_16_WK_29_editcontrol}&nbsp;
	</td>
</tr>
{END Jul_16_WK_29_fieldblock}
	{BEGIN Jul_23_WK_30_fieldblock}
<tr class="{$fielddispclass_Jul_23_WK_30}" data-fieldname="Jul_23_WK_30">
	<td class="rnr-label">
		{BEGIN Jul_23_WK_30_label}{$label calandar Jul_23_WK_30}{END Jul_23_WK_30_label}
	</td>
	<td class="rnr-control style3">
		{$Jul_23_WK_30_editcontrol}&nbsp;
	</td>
</tr>
{END Jul_23_WK_30_fieldblock}
	{BEGIN Aug_6_WK_32_fieldblock}
<tr class="{$fielddispclass_Aug_6_WK_32}" data-fieldname="Aug_6_WK_32">
	<td class="rnr-label">
		{BEGIN Aug_6_WK_32_label}{$label calandar Aug_6_WK_32}{END Aug_6_WK_32_label}
	</td>
	<td class="rnr-control style3">
		{$Aug_6_WK_32_editcontrol}&nbsp;
	</td>
</tr>
{END Aug_6_WK_32_fieldblock}
	{BEGIN Aug_13_WK_33_fieldblock}
<tr class="{$fielddispclass_Aug_13_WK_33}" data-fieldname="Aug_13_WK_33">
	<td class="rnr-label">
		{BEGIN Aug_13_WK_33_label}{$label calandar Aug_13_WK_33}{END Aug_13_WK_33_label}
	</td>
	<td class="rnr-control style3">
		{$Aug_13_WK_33_editcontrol}&nbsp;
	</td>
</tr>
{END Aug_13_WK_33_fieldblock}
	{BEGIN Aug_20_WK_34_fieldblock}
<tr class="{$fielddispclass_Aug_20_WK_34}" data-fieldname="Aug_20_WK_34">
	<td class="rnr-label">
		{BEGIN Aug_20_WK_34_label}{$label calandar Aug_20_WK_34}{END Aug_20_WK_34_label}
	</td>
	<td class="rnr-control style3">
		{$Aug_20_WK_34_editcontrol}&nbsp;
	</td>
</tr>
{END Aug_20_WK_34_fieldblock}
	{BEGIN Aug_27_WK_35_fieldblock}
<tr class="{$fielddispclass_Aug_27_WK_35}" data-fieldname="Aug_27_WK_35">
	<td class="rnr-label">
		{BEGIN Aug_27_WK_35_label}{$label calandar Aug_27_WK_35}{END Aug_27_WK_35_label}
	</td>
	<td class="rnr-control style3">
		{$Aug_27_WK_35_editcontrol}&nbsp;
	</td>
</tr>
{END Aug_27_WK_35_fieldblock}
	{BEGIN Sep_3_WK_36_fieldblock}
<tr class="{$fielddispclass_Sep_3_WK_36}" data-fieldname="Sep_3_WK_36">
	<td class="rnr-label">
		{BEGIN Sep_3_WK_36_label}{$label calandar Sep_3_WK_36}{END Sep_3_WK_36_label}
	</td>
	<td class="rnr-control style3">
		{$Sep_3_WK_36_editcontrol}&nbsp;
	</td>
</tr>
{END Sep_3_WK_36_fieldblock}
	{BEGIN Sep_10_WK_37_fieldblock}
<tr class="{$fielddispclass_Sep_10_WK_37}" data-fieldname="Sep_10_WK_37">
	<td class="rnr-label">
		{BEGIN Sep_10_WK_37_label}{$label calandar Sep_10_WK_37}{END Sep_10_WK_37_label}
	</td>
	<td class="rnr-control style3">
		{$Sep_10_WK_37_editcontrol}&nbsp;
	</td>
</tr>
{END Sep_10_WK_37_fieldblock}
	{BEGIN Sep_17_WK_38_fieldblock}
<tr class="{$fielddispclass_Sep_17_WK_38}" data-fieldname="Sep_17_WK_38">
	<td class="rnr-label">
		{BEGIN Sep_17_WK_38_label}{$label calandar Sep_17_WK_38}{END Sep_17_WK_38_label}
	</td>
	<td class="rnr-control style3">
		{$Sep_17_WK_38_editcontrol}&nbsp;
	</td>
</tr>
{END Sep_17_WK_38_fieldblock}
	{BEGIN Sep_24_WK_39_fieldblock}
<tr class="{$fielddispclass_Sep_24_WK_39}" data-fieldname="Sep_24_WK_39">
	<td class="rnr-label">
		{BEGIN Sep_24_WK_39_label}{$label calandar Sep_24_WK_39}{END Sep_24_WK_39_label}
	</td>
	<td class="rnr-control style3">
		{$Sep_24_WK_39_editcontrol}&nbsp;
	</td>
</tr>
{END Sep_24_WK_39_fieldblock}
	{BEGIN Oct_1_WK_40_fieldblock}
<tr class="{$fielddispclass_Oct_1_WK_40}" data-fieldname="Oct_1_WK_40">
	<td class="rnr-label">
		{BEGIN Oct_1_WK_40_label}{$label calandar Oct_1_WK_40}{END Oct_1_WK_40_label}
	</td>
	<td class="rnr-control style3">
		{$Oct_1_WK_40_editcontrol}&nbsp;
	</td>
</tr>
{END Oct_1_WK_40_fieldblock}
	{BEGIN Oct_8_WK_41_fieldblock}
<tr class="{$fielddispclass_Oct_8_WK_41}" data-fieldname="Oct_8_WK_41">
	<td class="rnr-label">
		{BEGIN Oct_8_WK_41_label}{$label calandar Oct_8_WK_41}{END Oct_8_WK_41_label}
	</td>
	<td class="rnr-control style3">
		{$Oct_8_WK_41_editcontrol}&nbsp;
	</td>
</tr>
{END Oct_8_WK_41_fieldblock}
	{BEGIN Oct_15_WK_42_fieldblock}
<tr class="{$fielddispclass_Oct_15_WK_42}" data-fieldname="Oct_15_WK_42">
	<td class="rnr-label">
		{BEGIN Oct_15_WK_42_label}{$label calandar Oct_15_WK_42}{END Oct_15_WK_42_label}
	</td>
	<td class="rnr-control style3">
		{$Oct_15_WK_42_editcontrol}&nbsp;
	</td>
</tr>
{END Oct_15_WK_42_fieldblock}
	{BEGIN Oct_22_WK_43_fieldblock}
<tr class="{$fielddispclass_Oct_22_WK_43}" data-fieldname="Oct_22_WK_43">
	<td class="rnr-label">
		{BEGIN Oct_22_WK_43_label}{$label calandar Oct_22_WK_43}{END Oct_22_WK_43_label}
	</td>
	<td class="rnr-control style3">
		{$Oct_22_WK_43_editcontrol}&nbsp;
	</td>
</tr>
{END Oct_22_WK_43_fieldblock}
	{BEGIN Oct_29_WK_44_fieldblock}
<tr class="{$fielddispclass_Oct_29_WK_44}" data-fieldname="Oct_29_WK_44">
	<td class="rnr-label">
		{BEGIN Oct_29_WK_44_label}{$label calandar Oct_29_WK_44}{END Oct_29_WK_44_label}
	</td>
	<td class="rnr-control style3">
		{$Oct_29_WK_44_editcontrol}&nbsp;
	</td>
</tr>
{END Oct_29_WK_44_fieldblock}
	{BEGIN Nov_5_WK_45_fieldblock}
<tr class="{$fielddispclass_Nov_5_WK_45}" data-fieldname="Nov_5_WK_45">
	<td class="rnr-label">
		{BEGIN Nov_5_WK_45_label}{$label calandar Nov_5_WK_45}{END Nov_5_WK_45_label}
	</td>
	<td class="rnr-control style3">
		{$Nov_5_WK_45_editcontrol}&nbsp;
	</td>
</tr>
{END Nov_5_WK_45_fieldblock}
	{BEGIN Nov_12_WK_46_fieldblock}
<tr class="{$fielddispclass_Nov_12_WK_46}" data-fieldname="Nov_12_WK_46">
	<td class="rnr-label">
		{BEGIN Nov_12_WK_46_label}{$label calandar Nov_12_WK_46}{END Nov_12_WK_46_label}
	</td>
	<td class="rnr-control style3">
		{$Nov_12_WK_46_editcontrol}&nbsp;
	</td>
</tr>
{END Nov_12_WK_46_fieldblock}
	{BEGIN Nov_19_WK_47_fieldblock}
<tr class="{$fielddispclass_Nov_19_WK_47}" data-fieldname="Nov_19_WK_47">
	<td class="rnr-label">
		{BEGIN Nov_19_WK_47_label}{$label calandar Nov_19_WK_47}{END Nov_19_WK_47_label}
	</td>
	<td class="rnr-control style3">
		{$Nov_19_WK_47_editcontrol}&nbsp;
	</td>
</tr>
{END Nov_19_WK_47_fieldblock}
	{BEGIN Nov_26_WK_48_fieldblock}
<tr class="{$fielddispclass_Nov_26_WK_48}" data-fieldname="Nov_26_WK_48">
	<td class="rnr-label">
		{BEGIN Nov_26_WK_48_label}{$label calandar Nov_26_WK_48}{END Nov_26_WK_48_label}
	</td>
	<td class="rnr-control style3">
		{$Nov_26_WK_48_editcontrol}&nbsp;
	</td>
</tr>
{END Nov_26_WK_48_fieldblock}
	{BEGIN Dec_3_WK_49_fieldblock}
<tr class="{$fielddispclass_Dec_3_WK_49}" data-fieldname="Dec_3_WK_49">
	<td class="rnr-label">
		{BEGIN Dec_3_WK_49_label}{$label calandar Dec_3_WK_49}{END Dec_3_WK_49_label}
	</td>
	<td class="rnr-control style3">
		{$Dec_3_WK_49_editcontrol}&nbsp;
	</td>
</tr>
{END Dec_3_WK_49_fieldblock}
	{BEGIN Dec_10_WK_50_fieldblock}
<tr class="{$fielddispclass_Dec_10_WK_50}" data-fieldname="Dec_10_WK_50">
	<td class="rnr-label">
		{BEGIN Dec_10_WK_50_label}{$label calandar Dec_10_WK_50}{END Dec_10_WK_50_label}
	</td>
	<td class="rnr-control style3">
		{$Dec_10_WK_50_editcontrol}&nbsp;
	</td>
</tr>
{END Dec_10_WK_50_fieldblock}
	{BEGIN Dec_17_WK_51_fieldblock}
<tr class="{$fielddispclass_Dec_17_WK_51}" data-fieldname="Dec_17_WK_51">
	<td class="rnr-label">
		{BEGIN Dec_17_WK_51_label}{$label calandar Dec_17_WK_51}{END Dec_17_WK_51_label}
	</td>
	<td class="rnr-control style3">
		{$Dec_17_WK_51_editcontrol}&nbsp;
	</td>
</tr>
{END Dec_17_WK_51_fieldblock}
	{BEGIN Dec_24_WK_52_fieldblock}
<tr class="{$fielddispclass_Dec_24_WK_52}" data-fieldname="Dec_24_WK_52">
	<td class="rnr-label">
		{BEGIN Dec_24_WK_52_label}{$label calandar Dec_24_WK_52}{END Dec_24_WK_52_label}
	</td>
	<td class="rnr-control style3">
		{$Dec_24_WK_52_editcontrol}&nbsp;
	</td>
</tr>
{END Dec_24_WK_52_fieldblock}
	{BEGIN Dec_31_WK_53_fieldblock}
<tr class="{$fielddispclass_Dec_31_WK_53}" data-fieldname="Dec_31_WK_53">
	<td class="rnr-label">
		{BEGIN Dec_31_WK_53_label}{$label calandar Dec_31_WK_53}{END Dec_31_WK_53_label}
	</td>
	<td class="rnr-control style3">
		{$Dec_31_WK_53_editcontrol}&nbsp;
	</td>
</tr>
{END Dec_31_WK_53_fieldblock}
	{BEGIN Jul_30_WK_31_fieldblock}
<tr class="{$fielddispclass_Jul_30_WK_31}" data-fieldname="Jul_30_WK_31">
	<td class="rnr-label">
		{BEGIN Jul_30_WK_31_label}{$label calandar Jul_30_WK_31}{END Jul_30_WK_31_label}
	</td>
	<td class="rnr-control style3">
		{$Jul_30_WK_31_editcontrol}&nbsp;
	</td>
</tr>
{END Jul_30_WK_31_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
