<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Jul_2_WK_27">
	{$Jul_2_WK_27_editcontrol}
	</control>
	<control 
	field="Jul_9_WK_28">
	{$Jul_9_WK_28_editcontrol}
	</control>
	<control 
	field="Jul_16_WK_29">
	{$Jul_16_WK_29_editcontrol}
	</control>
	<control 
	field="Jul_23_WK_30">
	{$Jul_23_WK_30_editcontrol}
	</control>
	<control 
	field="Aug_6_WK_32">
	{$Aug_6_WK_32_editcontrol}
	</control>
	<control 
	field="Aug_13_WK_33">
	{$Aug_13_WK_33_editcontrol}
	</control>
	<control 
	field="Aug_20_WK_34">
	{$Aug_20_WK_34_editcontrol}
	</control>
	<control 
	field="Aug_27_WK_35">
	{$Aug_27_WK_35_editcontrol}
	</control>
	<control 
	field="Sep_3_WK_36">
	{$Sep_3_WK_36_editcontrol}
	</control>
	<control 
	field="Sep_10_WK_37">
	{$Sep_10_WK_37_editcontrol}
	</control>
	<control 
	field="Sep_17_WK_38">
	{$Sep_17_WK_38_editcontrol}
	</control>
	<control 
	field="Sep_24_WK_39">
	{$Sep_24_WK_39_editcontrol}
	</control>
	<control 
	field="Oct_1_WK_40">
	{$Oct_1_WK_40_editcontrol}
	</control>
	<control 
	field="Oct_8_WK_41">
	{$Oct_8_WK_41_editcontrol}
	</control>
	<control 
	field="Oct_15_WK_42">
	{$Oct_15_WK_42_editcontrol}
	</control>
	<control 
	field="Oct_22_WK_43">
	{$Oct_22_WK_43_editcontrol}
	</control>
	<control 
	field="Oct_29_WK_44">
	{$Oct_29_WK_44_editcontrol}
	</control>
	<control 
	field="Nov_5_WK_45">
	{$Nov_5_WK_45_editcontrol}
	</control>
	<control 
	field="Nov_12_WK_46">
	{$Nov_12_WK_46_editcontrol}
	</control>
	<control 
	field="Nov_19_WK_47">
	{$Nov_19_WK_47_editcontrol}
	</control>
	<control 
	field="Nov_26_WK_48">
	{$Nov_26_WK_48_editcontrol}
	</control>
	<control 
	field="Dec_3_WK_49">
	{$Dec_3_WK_49_editcontrol}
	</control>
	<control 
	field="Dec_10_WK_50">
	{$Dec_10_WK_50_editcontrol}
	</control>
	<control 
	field="Dec_17_WK_51">
	{$Dec_17_WK_51_editcontrol}
	</control>
	<control 
	field="Dec_24_WK_52">
	{$Dec_24_WK_52_editcontrol}
	</control>
	<control 
	field="Dec_31_WK_53">
	{$Dec_31_WK_53_editcontrol}
	</control>
	<control 
	field="Jul_30_WK_31">
	{$Jul_30_WK_31_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
