<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel customer_header masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$OracIeID_class}">{$label customer_header OracIeID}</th>
			<th class="{$Name_class}">{$label customer_header Name}</th>
			<th class="{$PrimaryTimeZone_class}">{$label customer_header PrimaryTimeZone}</th>
			<th class="{$Size_class}">{$label customer_header Size}</th>
			<th class="{$Onshore_Support_class}">{$label customer_header Onshore_Support}</th>
			<th class="{$Stage_class}">{$label customer_header Stage}</th>
			<th class="{$Overall_Temp_class}">{$label customer_header Overall_Temp}</th>
			<th class="{$Temperature_class}">{$label customer_header Temperature}</th>
			<th class="{$Engagement_status_class}">{$label customer_header Engagement_status}</th>
			<th class="{$Contract_Start_class}">{$label customer_header Contract_Start}</th>
			<th class="{$SteadyState_class}">{$label customer_header SteadyState}</th>
			<th class="{$Contract_end_class}">{$label customer_header Contract_end}</th>
			<th class="{$Recovery_Center_class}">{$label customer_header Recovery_Center}</th>
			<th class="{$Total_MRR_class}">{$label customer_header Total_MRR}</th>
			<th class="{$MRP_MRR_class}">{$label customer_header MRP_MRR}</th>
			<th class="{$ARS_MRR_class}">{$label customer_header ARS_MRR}</th>
			<th class="{$RS_MRR_class}">{$label customer_header RS_MRR}</th>
			<th class="{$MS_MRR_class}">{$label customer_header MS_MRR}</th>
			<th class="{$CS_MRR_class}">{$label customer_header CS_MRR}</th>
			<th class="{$OTHER_MRR_class}">{$label customer_header OTHER_MRR}</th>
			<th class="{$Comments_class}">{$label customer_header Comments}</th>
			<th class="{$TransStartDate_class}">{$label customer_header TransStartDate}</th>
			<th class="{$TransEndDate_class}">{$label customer_header TransEndDate}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$OracIeID_class}">{$OracIeID_mastervalue}</td>
			<td class="{$Name_class}">{$Name_mastervalue}</td>
			<td class="{$PrimaryTimeZone_class}">{$PrimaryTimeZone_mastervalue}</td>
			<td class="{$Size_class}">{$Size_mastervalue}</td>
			<td class="{$Onshore_Support_class}">{$Onshore_Support_mastervalue}</td>
			<td class="{$Stage_class}">{$Stage_mastervalue}</td>
			<td class="{$Overall_Temp_class}">{$Overall_Temp_mastervalue}</td>
			<td class="{$Temperature_class}">{$Temperature_mastervalue}</td>
			<td class="{$Engagement_status_class}">{$Engagement_status_mastervalue}</td>
			<td class="{$Contract_Start_class}">{$Contract_Start_mastervalue}</td>
			<td class="{$SteadyState_class}">{$SteadyState_mastervalue}</td>
			<td class="{$Contract_end_class}">{$Contract_end_mastervalue}</td>
			<td class="{$Recovery_Center_class}">{$Recovery_Center_mastervalue}</td>
			<td class="{$Total_MRR_class}">{$Total_MRR_mastervalue}</td>
			<td class="{$MRP_MRR_class}">{$MRP_MRR_mastervalue}</td>
			<td class="{$ARS_MRR_class}">{$ARS_MRR_mastervalue}</td>
			<td class="{$RS_MRR_class}">{$RS_MRR_mastervalue}</td>
			<td class="{$MS_MRR_class}">{$MS_MRR_mastervalue}</td>
			<td class="{$CS_MRR_class}">{$CS_MRR_mastervalue}</td>
			<td class="{$OTHER_MRR_class}">{$OTHER_MRR_mastervalue}</td>
			<td class="{$Comments_class}">{$Comments_mastervalue}</td>
			<td class="{$TransStartDate_class}">{$TransStartDate_mastervalue}</td>
			<td class="{$TransEndDate_class}">{$TransEndDate_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>