<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="FirstName">
	{$FirstName_editcontrol}
	</control>
	<control field="LastName">
	{$LastName_editcontrol}
	</control>
	<control field="SupervisorName">
	{$SupervisorName_editcontrol}
	</control>
	<control field="EmployeeStatus">
	{$EmployeeStatus_editcontrol}
	</control>
	<control field="Date1">
	{$Date1_editcontrol}
	</control>
	<control field="Date2">
	{$Date2_editcontrol}
	</control>
	<control field="Date3">
	{$Date3_editcontrol}
	</control>
	<control field="Date4">
	{$Date4_editcontrol}
	</control>
	<control field="Date5">
	{$Date5_editcontrol}
	</control>
	<control field="Date6">
	{$Date6_editcontrol}
	</control>
	<control field="Date7">
	{$Date7_editcontrol}
	</control>
	<control field="Date8">
	{$Date8_editcontrol}
	</control>
	<control field="Date9">
	{$Date9_editcontrol}
	</control>
	<control field="Date10">
	{$Date10_editcontrol}
	</control>
	<control field="Date11">
	{$Date11_editcontrol}
	</control>
	<control field="Date12">
	{$Date12_editcontrol}
	</control>
	<control field="Date13">
	{$Date13_editcontrol}
	</control>
	<control field="Date14">
	{$Date14_editcontrol}
	</control>
	<control field="Date15">
	{$Date15_editcontrol}
	</control>
	<control field="Date16">
	{$Date16_editcontrol}
	</control>
	<control field="Date17">
	{$Date17_editcontrol}
	</control>
	<control field="Date18">
	{$Date18_editcontrol}
	</control>
	<control field="Date19">
	{$Date19_editcontrol}
	</control>
	<control field="Date20">
	{$Date20_editcontrol}
	</control>
	<control field="Date21">
	{$Date21_editcontrol}
	</control>
	<control field="Date22">
	{$Date22_editcontrol}
	</control>
	<control field="Date23">
	{$Date23_editcontrol}
	</control>
	<control field="Date24">
	{$Date24_editcontrol}
	</control>
	<control field="Date25">
	{$Date25_editcontrol}
	</control>
	<control field="Date26">
	{$Date26_editcontrol}
	</control>
	<control field="Date27">
	{$Date27_editcontrol}
	</control>
	<control field="Date28">
	{$Date28_editcontrol}
	</control>
	<control field="Date29">
	{$Date29_editcontrol}
	</control>
	<control field="Date30">
	{$Date30_editcontrol}
	</control>
	<control field="Date31">
	{$Date31_editcontrol}
	</control>
	<control field="Date32">
	{$Date32_editcontrol}
	</control>
	<control field="Date33">
	{$Date33_editcontrol}
	</control>
	<control field="Date34">
	{$Date34_editcontrol}
	</control>
	<control field="Date35">
	{$Date35_editcontrol}
	</control>
	<control field="Date36">
	{$Date36_editcontrol}
	</control>
	<control field="Date37">
	{$Date37_editcontrol}
	</control>
	<control field="Date38">
	{$Date38_editcontrol}
	</control>
	<control field="Date39">
	{$Date39_editcontrol}
	</control>
	<control field="Date40">
	{$Date40_editcontrol}
	</control>
	<control field="Date41">
	{$Date41_editcontrol}
	</control>
	<control field="Date42">
	{$Date42_editcontrol}
	</control>
	<control field="Date43">
	{$Date43_editcontrol}
	</control>
	<control field="Date44">
	{$Date44_editcontrol}
	</control>
	<control field="Date45">
	{$Date45_editcontrol}
	</control>
	<control field="Date46">
	{$Date46_editcontrol}
	</control>
	<control field="Date47">
	{$Date47_editcontrol}
	</control>
	<control field="Date48">
	{$Date48_editcontrol}
	</control>
	<control field="Date49">
	{$Date49_editcontrol}
	</control>
	<control field="Date50">
	{$Date50_editcontrol}
	</control>
	<control field="Date51">
	{$Date51_editcontrol}
	</control>
	<control field="Date52">
	{$Date52_editcontrol}
	</control>
	<control field="Date53">
	{$Date53_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>