<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Lookup_ID">
	{$Lookup_ID_editcontrol}
	</control>
	<control field="Category">
	{$Category_editcontrol}
	</control>
	<control field="Lookup_code">
	{$Lookup_code_editcontrol}
	</control>
	<control field="Lookup_value">
	{$Lookup_value_editcontrol}
	</control>
	<control field="created_by">
	{$created_by_editcontrol}
	</control>
	<control field="created_date">
	{$created_date_editcontrol}
	</control>
	<control field="updated_by">
	{$updated_by_editcontrol}
	</control>
	<control field="updated_date">
	{$updated_date_editcontrol}
	</control>
	<control field="Remarks">
	{$Remarks_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>