<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="RSA">
	{$RSA_editcontrol}
	</control>
	<control field="PA">
	{$PA_editcontrol}
	</control>
	<control field="CategoryID">
	{$CategoryID_editcontrol}
	</control>
	<control field="AutRoleID">
	{$AutRoleID_editcontrol}
	</control>
	<control field="CategoryName">
	{$CategoryName_editcontrol}
	</control>
	<control field="Activity">
	{$Activity_editcontrol}
	</control>
	<control field="Duration__Weeks">
	{$Duration__Weeks_editcontrol}
	</control>
	<control field="TAM">
	{$TAM_editcontrol}
	</control>
	<control field="Other">
	{$Other_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>