<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel tbl_resource_allocation print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN RSA_fieldheadercolumn}
<th class="runner-cc {$RSA_class}" {$RSA_style}>
	{BEGIN RSA_fieldheader}
	<b>{$label tbl_resource_allocation RSA}</b>
	{END RSA_fieldheader}
</th>
{END RSA_fieldheadercolumn}
	{BEGIN AutCustID_fieldheadercolumn}
<th class="runner-cc {$AutCustID_class}" {$AutCustID_style}>
	{BEGIN AutCustID_fieldheader}
	<b>{$label tbl_resource_allocation AutCustID}</b>
	{END AutCustID_fieldheader}
</th>
{END AutCustID_fieldheadercolumn}
	{BEGIN Location_fieldheadercolumn}
<th class="runner-cc {$Location_class}" {$Location_style}>
	{BEGIN Location_fieldheader}
	<b>{$label tbl_resource_allocation Location}</b>
	{END Location_fieldheader}
</th>
{END Location_fieldheadercolumn}
	{BEGIN Supervisor_fieldheadercolumn}
<th class="runner-cc {$Supervisor_class}" {$Supervisor_style}>
	{BEGIN Supervisor_fieldheader}
	<b>{$label tbl_resource_allocation Supervisor}</b>
	{END Supervisor_fieldheader}
</th>
{END Supervisor_fieldheadercolumn}
	{BEGIN Alloc_fieldheadercolumn}
<th class="runner-cc {$Alloc_class}" {$Alloc_style}>
	{BEGIN Alloc_fieldheader}
	<b>{$label tbl_resource_allocation Alloc}</b>
	{END Alloc_fieldheader}
</th>
{END Alloc_fieldheadercolumn}
	{BEGIN Start1_fieldheadercolumn}
<th class="runner-cc {$Start1_class}" {$Start1_style}>
	{BEGIN Start1_fieldheader}
	<b>{$label tbl_resource_allocation Start1}</b>
	{END Start1_fieldheader}
</th>
{END Start1_fieldheadercolumn}
	{BEGIN End1_fieldheadercolumn}
<th class="runner-cc {$End1_class}" {$End1_style}>
	{BEGIN End1_fieldheader}
	<b>{$label tbl_resource_allocation End1}</b>
	{END End1_fieldheader}
</th>
{END End1_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN RSA_fieldcolumn}
<td  class="runner-cc {$RSA_class}" {$RSA_style} {$recordattrs}>
	{$RSA_value}
</td>
{END RSA_fieldcolumn}
	{BEGIN AutCustID_fieldcolumn}
<td  class="runner-cc {$AutCustID_class}" {$AutCustID_style} {$recordattrs}>
	{$AutCustID_value}
</td>
{END AutCustID_fieldcolumn}
	{BEGIN Location_fieldcolumn}
<td  class="runner-cc {$Location_class}" {$Location_style} {$recordattrs}>
	{$Location_value}
</td>
{END Location_fieldcolumn}
	{BEGIN Supervisor_fieldcolumn}
<td  class="runner-cc {$Supervisor_class}" {$Supervisor_style} {$recordattrs}>
	{$Supervisor_value}
</td>
{END Supervisor_fieldcolumn}
	{BEGIN Alloc_fieldcolumn}
<td  class="runner-cc {$Alloc_class}" {$Alloc_style} {$recordattrs}>
	{$Alloc_value}
</td>
{END Alloc_fieldcolumn}
	{BEGIN Start1_fieldcolumn}
<td  class="runner-cc {$Start1_class}" {$Start1_style} {$recordattrs}>
	{$Start1_value}
</td>
{END Start1_fieldcolumn}
	{BEGIN End1_fieldcolumn}
<td  class="runner-cc {$End1_class}" {$End1_style} {$recordattrs}>
	{$End1_value}
</td>
{END End1_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
	{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
