<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel View print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN Alloc_fieldheadercolumn}
<th class="runner-cc {$Alloc_class}" {$Alloc_style}>
	{BEGIN Alloc_fieldheader}
	<b>{$label View Alloc}</b>
	{END Alloc_fieldheader}
</th>
{END Alloc_fieldheadercolumn}
	{BEGIN Alloc1_fieldheadercolumn}
<th class="runner-cc {$Alloc1_class}" {$Alloc1_style}>
	{BEGIN Alloc1_fieldheader}
	<b>{$label View Alloc1}</b>
	{END Alloc1_fieldheader}
</th>
{END Alloc1_fieldheadercolumn}
	{BEGIN Alloc2_fieldheadercolumn}
<th class="runner-cc {$Alloc2_class}" {$Alloc2_style}>
	{BEGIN Alloc2_fieldheader}
	<b>{$label View Alloc2}</b>
	{END Alloc2_fieldheader}
</th>
{END Alloc2_fieldheadercolumn}
	{BEGIN Alloc3_fieldheadercolumn}
<th class="runner-cc {$Alloc3_class}" {$Alloc3_style}>
	{BEGIN Alloc3_fieldheader}
	<b>{$label View Alloc3}</b>
	{END Alloc3_fieldheader}
</th>
{END Alloc3_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN Alloc_fieldcolumn}
<td  class="runner-cc {$Alloc_class}" {$Alloc_style} {$recordattrs}>
	{$Alloc_value}
</td>
{END Alloc_fieldcolumn}
	{BEGIN Alloc1_fieldcolumn}
<td  class="runner-cc {$Alloc1_class}" {$Alloc1_style} {$recordattrs}>
	{$Alloc1_value}
</td>
{END Alloc1_fieldcolumn}
	{BEGIN Alloc2_fieldcolumn}
<td  class="runner-cc {$Alloc2_class}" {$Alloc2_style} {$recordattrs}>
	{$Alloc2_value}
</td>
{END Alloc2_fieldcolumn}
	{BEGIN Alloc3_fieldcolumn}
<td  class="runner-cc {$Alloc3_class}" {$Alloc3_style} {$recordattrs}>
	{$Alloc3_value}
</td>
{END Alloc3_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
	{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
